/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
    white-space: normal !important;
    word-break: break-word !important;
}

.wy-table-responsive th p {
    margin-bottom: unset;
}

